{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "pragma": "h",
        "pragmaFrag": "Fragment",
        "throwIfNamespace": true
      }
    },
    "target": "es2016",
    "loose": true
  },
  "sourceMaps": true
}